<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2> </h2>
			<h5>I am an avid creator, an excited learner, a very good sushi-eater
				<br></br>
				<em><a title="Resume" href="{{ site.baseurl | append: "/assets/ShirleyXiao_Resume.pdf" }}">View my resumé →</a></em>
			</h5>
		</section>
		<section class="follow">
			<h2>Contact</h2>
			<ul>
				<li><a title="Email" href="mailto:{{ site.email }}" target="_blank">stxiao@berkeley.edu</a></li>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
			</ul>
		</section>
	</div>
</footer>